importFrom(magrittr,"%>%")
importFrom(rlang,".data")
export("dbOpen")
export("dbClose")
export("dbGetTable")
export("tableNames")
export("dbGetProteinTable")
export("dbGetPeptideIDs")
export("dbGetPeptideTable")
export("dbGetPsmIDs")
export("dbGetPsmTable")
export("dbGetConsensusIDs")
export("dbGetConsensusTable")
export("dbGetQuanSpectrumIDs")
export("dbGetQuanSpectrumInfoTable")
export("proteinIDTypes")
export("thermo.date")
export("system.date")
export("na.date")
export("MSfileInfo")
export("SearchInfo")
export("totalSearchTime")
export("columnSpecials")
export("getBlobs")
export("blobLength")
export("determineBlobTypes")
export("dfTransformRaws")
export("quanInfoDetails")
export("quanInfo")
export("pQuanInfo")
export("psmAmbiguity")
export("isMasterProtein")
export("quanInfoDetails")
export("quanInfo")
export("pQuanInfo")
export("replacementStrings")
export("df_replace")
export("analysisDefinition")
export("studyDefinitionFactors")
export("studyDefinitionFileSets")
export("studyDefinitionQuanMethods")
export("studyDefinitionSamples")
export("studyDefinitionExtensions")
export("studyDefinitionExtensionSettings")
export("workflowInfo")
export("nodeTable")
export("createDiagrammeRString")
export("nodes")