importFrom(magrittr,"%>%")
export("columnSpecials")
export("dfTransformRaws")
export("dbGetTable")
export("dbGetProteinTable")
export("dbGetPeptideIDs")
export("dbGetPeptideTable")
export("dbGetPsmIDs")
export("dbGetPsmTable")
export("dbGetConsensusIDs")
export("dbGetConsensusTable")
export("proteinIDTypes")
export("thermo.date")
export("system.date")
export("na.date")
export("isClass")
export("MSfileInfo")
export("SearchInfo")
export("totalSearchTime")
export("PsmAmbiguity")
export("IsMasterProtein")