importFrom(magrittr,"%>%")
importFrom(rlang,".data")
importFrom(RSQLite,"SQLite")
importFrom("utils", "unzip")
export(MSfileInfo)
export(SearchInfo)
export(allNodesTable)
export(analysisDefinition)
export(blobLength)
export(calcAllIFIs)
export(calcData)
export(calcIFIs)
export(columnSpecials)
export(createDiagrammeRString)
export(dbClose)
export(dbGetAnnotatedProteins)
export(dbGetAnnotationGroups)
export(dbGetAnnotationGroupsFiltered)
export(dbGetConsensusIDs)
export(dbGetConsensusTable)
export(dbGetModificationPeptideIDs)
export(dbGetModificationsSitesIDs)
export(dbGetModificationsTable)
export(dbGetPeptideIDs)
export(dbGetPeptideTable)
export(dbGetProteinAnnotationGroupIDs)
export(dbGetProteinFiltered)
export(dbGetProteinGroupIDs)
export(dbGetProteinGroups)
export(dbGetProteinIDs)
export(dbGetProteinTable)
export(dbGetProteinUniqueSequenceIDs)
export(dbGetProteins)
export(dbGetPsmIDs)
export(dbGetPsmTable)
export(dbGetQuanSpectrumIDs)
export(dbGetQuanSpectrumInfoTable)
export(dbGetTable)
export(dbOpen)
export(determineBlobTypes)
export(dfTransformRaws)
export(df_replace)
export(getAcquistionDate)
export(getAcquistionDateTime)
export(getBlobs)
export(getPeptideInfo)
export(getPeptideInfoRaw)
export(getProteinInfo)
export(getProteinInfoRaw)
export(isMasterProtein)
export(knockOutProteins)
export(na.date)
export(nodeTable)
export(nodes)
export(pQuanInfo)
export(proteinIDTypes)
export(psmAmbiguity)
export(quanInfo)
export(quanInfoDetails)
export(replacementStrings)
export(studyDefinitionExtensionSettings)
export(studyDefinitionExtensions)
export(studyDefinitionFactors)
export(studyDefinitionFileSets)
export(studyDefinitionQuanMethods)
export(studyDefinitionSamples)
export(system.date)
export(tableNames)
export(thermo.date)
export(tmt10Channels)
export(tmt11Channels)
export(totalSearchTime)
export(workflowInfo)
export(transformSpectrumRaw)
export(spectrum.header)
export(spectrum.scanEvent)
export(spectrum.centroid)
export(spectrum.profile)
export(spectrum.precursor.header)
export(spectrum.precursor.scanEvent)
export(spectrum.precursor.info)
export(spectrum.precursor.centroid)
export(spectrum.precursor.profile)
export(spectrum.precursor.additionalInfo)